{% extends "lab/base.html" %}
{% load static %}
{% load elab_conf %}

{% block title %}Screenshots{% endblock %}

{% block top_title %}
{{ block.super }} | <a href="{% url 'instr:section-menu' sec.id %}">{{ sec }}</a>
{% endblock %}

{% block extra-head %}
{{ block.super }}
<style>
div.container {
  padding: 10px;
  width: 300px;
  height: 200px;
  display: inline-block;
  position: relative;
  border: 1px solid grey;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.container:hover .overlay {
  visibility: visible;
  opacity: 1;
}
*/

.text {
  color: yellow;
  text-align: center;
}
</style>
{% endblock %}

{% block content %}
<h1>Latest Screenshots</h1>

<div style="padding: 5px">
  Filtered tags: {{filtered_tags}}
</div>

<div style="padding: 5px">
  {% for lab, screenshots in labs %}
  <h2>{{lab}}</h2>
  <div style="display: flex; flex-wrap: wrap; padding: 10px;">
    {% for student, tags, screenshot, age, submission_allowed, flag in screenshots %}
      <div class="container">
        {% if screenshot %}
        <img src="{{screenshot.image.url}}" class="image"
             onclick="window.open('{{screenshot.image.url}}')">
        {% endif %}
        <div class="overlay" onclick="window.open('{{screenshot.image.url}}')">
          <div class="text">
            {{student.username}}
            <br/>
            {{student.first_name}} {{student.last_name}}
            <br/>
            Tags: {{tags}}
            <br/>
            {% if submission_allowed %}
            <span style="color: limegreen">Submission allowed</span>
            {% else %}
            <span style="color: red">Submission NOT Allowed</span>
            {% endif %}
            <br/>
            {% if flag %}
            <span style="color: #ffcccc">{{age}} seconds ago.</span>
            {% else %}
            <span style="color: limegreen">{{age|default_if_none:"-"}} seconds ago.</span>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <hr/>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
<script>
  $(document).ready(function() {
    const defaultShowInfo = ("{{show_info}}" == "True");
    const showInfo = function() {
      $(".overlay", this).css("visibility", "visible").css("opacity", 1);
    };
    const hideInfo = function() {
      $(".overlay", this).css("visibility", "hidden").css("opacity", 0);
    };

    if (defaultShowInfo) {
      $(".overlay").css("visibility", "visible").css("opacity", 1);
    }
    else {
      $(".overlay").css("visibility", "hidden").css("opacity", 0);
    }

    $(".container").hover(
      defaultShowInfo ? hideInfo : showInfo,
      defaultShowInfo ? showInfo : hideInfo
    );

  });
</script>
{% endblock %}
