{% extends "lab/base.html" %}
{% load static %}
{% load elab_conf %}

{% block title %}Screenshot View Configuration{% endblock %}

{% block top_title %}
{{ block.super }} | <a href="{% url 'instr:section-menu' sec.id %}">{{ sec }}</a>
{% endblock %}

{% block extra-head %}
{{ block.super }}
<style>
form.config {
  margin: 5px;
}
</style>
{% endblock %}

{% block content %}
<h1>Screenshot View Configuration</h1>
<div>
</div>
<form class="config" method="post" action="{% url 'instr:config-screenshots-post' sec.id %}">
  {% csrf_token %}
  <div style="font-weight: bold">
  Section: {{sec}}
  </div>
  <hr/>
  <div>
    <h2>Lab List</h2>
    {% for lab in sec.labinsection_set.all %}
    <input type="checkbox" id="lab{{lab.id}}" name="labs" value="{{lab.id}}" />
    <label for="lab{{lab.id}}">{{lab}}</label><br>
    {% endfor %}
  </div>
  <hr/>
  <div>
    <h2>Other Options</h2>
    <div>
      <input type="checkbox" id="show-info" name="show_info" value="1" />
      <label for="show-info">Show student information by default</label>
    </div>
    <div>
      Tags to filter direct accounts (comma-separated): <input type="text" name="tags" />
    </div>
  </div>
  <hr/>
  <div>
    <input type="Submit" />
  </div>
</form>

{% endblock %}
