{% extends "base.html" %}
{% load static %}
{% load elab_conf %}

{% block extra-head %}
<script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
<script>
  var kusso = ("{% use_kusso %}" == "True");
{% if form.errors %}
  var error = true;
{% else %}
  var error = false;
{% endif %}

  $(document).ready(function() {
    if (kusso && !error) {
      $("#login-form").hide();
    }

    $("#local-login").on("click", function() {
      $("#login-form").show();
    });
  });
</script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
  <div style="margin: 5px">
    <p>
      <b>Please login...</b>
    </p>
    <div>
      {% use_kusso as kusso %}
      {% if kusso %}
      <div style="margin: 10px; font-size: 150%">
        <a href="{% url 'kusso:login' %}?next={{ request.GET.next }}" class="btn btn-outline-success">Using KU ALL-Login</a>
      </div>
      <div style="margin: 10px; font-size: 150%">
        <label class="btn btn-outline-primary" id="local-login">Using Local Account</label>
      </div>
      {% endif %}
      <form method="post" id="login-form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
{% endblock %}
