{% extends "lab/base.html" %}

{% block title %}Screen Record{% endblock %}

{% block extra-head %}
{{block.super}}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
  const videoElem = document.getElementById('preview');
  const snapElem = document.getElementById('snapshot');
  const startBtnElem = document.getElementById('start-button');
  const instructionElem = document.getElementById('instruction');
  const warningElem = document.getElementById('stop-warning');
  let isRecorded = false;

  snapElem.width = screen.width;
  snapElem.height = screen.height;
  const snapContext = snapElem.getContext('2d');

  const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay));

  startBtnElem.addEventListener("click", () => {
    startCapture();
    instructionElem.style.display = "none";
  });

  const recordStopped = () => {
    isRecorded = false;
    warningElem.style.display = null;
  };

  async function startCapture() {
    try {
      const stream = await navigator.mediaDevices.getDisplayMedia({
        video: {
          logicalSurface: false,
          width: { ideal: screen.width },
          height: { ideal: screen.height },
          frameRate: 5,
        },
        audio: false
      });
      videoElem.srcObject = stream;
      videoElem.addEventListener("ended", recordStopped);
      stream.addEventListener("inactive", recordStopped);
      isRecorded = true;
    } catch (error) {
      recordStopped();
    }
  }

  const snapAndUpload = async () => {
    if (!videoElem.srcObject) return;
    if (!isRecorded) return;
    //console.log('Snapping...');
    snapContext.drawImage(videoElem, 0, 0, snapElem.width, snapElem.height);
    //console.log('Posting image...');
    try {
      const response = await fetch("{% url 'lab:post-screen-upload' labinsec.id %}", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ 
          contents: snapElem.toDataURL("image/jpeg").split(';base64,')[1],
        }),
      });
      //console.log('Upload done.');
    } catch (error) {
      console.error('Failed uploading the image with error code', error);
    }
  };

  const uploadLoop = async () => {
    const interval = {{labinsec.record_screen_interval}}*1000;
    if (interval <= 0) return;
    while (true) {
      if (videoElem.srcObject) {
        await snapAndUpload();
        await sleep(interval);
      } else {
        await sleep(5000);
      }
    }
  };

  uploadLoop();
});
</script>
{% endblock %}

{% block content %}
<div style="width: 50%; margin: auto">
  <div style="color: black">
  <h2>Disclaimer</h2>
  <P>THIS WEB PAGE WILL BE TAKING SNAPSHOTS OF YOUR SCREEN AND UPLOADING THEM TO
  THE SERVER AT EVERY REGULAR INTERVAL.  THE COLLECTED INFORMATION WILL BE USED
  SOLELY FOR EXAMINATION PROCTORING PURPOSES AND ACCESSIBLE ONLY BY THE
  INSTRUCTORS IN CHARGE OF THIS COURSE.</P>
  </div>

  <hr>
  <div id="instruction">
    <div style="margin-bottom: 5px">
      Click the <b>Start Recording</b> button below to start recording your screen.
    </div>
    <div>
      <button id="start-button">Start Recording</button>
    </div>
  </div>
  <div id="stop-warning" style="display: none; color: red">
    Your screen is not being recorded!  Please refresh the page and click the
    <b>Start Recording</b> to start recording.
  </div>
  <div>
    <video id="preview" width="320" height="240" autoplay>Video capture not available</video>
  </div>
  <canvas id="snapshot" style="display: none; border: 1px solid lightblue"></canvas>
</div>
{% endblock %}
