<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">ลำดับ</th>
      <th>ชื่อ</th>
      <th>ลิงก์</th>
      <th class="text-center">ส่งล่าสุด</th>
      <th class="text-center">ผล</th>
      <th class="text-center">รายละเอียด</th>
    </tr>
  </thead>
  <tbody>
    {% for participant in task_post.participant_set.all %}
    {% with status=participant.latest_submission_status %}
      <tr>
        <td class="text-center">{{participant.order}}</td>
        <td>{{participant.name}}</td>
        <td>
          <a href="{% url 'taskpads:workon' task_post.key participant.key %}" target="_blank">
            <i class="fa fa-link"></i>
          </a>
        </td>
        {% if status %}
          <td class="text-center">
            {{status.submitted_at}}
          </td>
          <td class="text-center">
            {% if status.graded %}
              {% if status.passed %}
              <i class="fa fa-check" id="status-passed" style="color:green"></i>
              {% else %}
              <i class="fa fa-times" id="status-failed" style="color:red"></i>
              {% endif %}
            {% else %}
              <i class="fa fa-clock" id="status-grading" style="color:blue; font-weight:100"></i>
            {% endif %}
          </td>
          <td class="text-center">
            [<span style="font-family:monospace">{{status.results}}</span>]
            <!-- detailed results dialog -->
            <div class="modal" id="detail-{{participant.key}}" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">อธิบายผลลัพธ์</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{status.result_explanation}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
                  </div>
                </div>
              </div>
            </div>
            <button class="borderless" style="color:green" data-toggle="modal" data-target="#detail-{{participant.key}}">
              <i class="fa fa-clipboard" style="font-weight:100"></i>
            </button>
            {% if status.compiler_messages %}
              <!-- compiler messages dialog -->
              <div class="modal" id="compiler-{{participant.key}}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">รายงานความผิดพลาดจากคอมไพเลอร์</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                      <pre id="pre-compiler-messages">{{status.compiler_messages}}</pre>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
                    </div>
                  </div>
                </div>
              </div>
              <button class="borderless" style="color:orange" data-toggle="modal" data-target="#compiler-{{participant.key}}">
                <i class="fa fa-bolt"></i>
              </button>
            {% endif %}
            {% if status.manual_full_score %}
            <span>T: {{status.manual_total_score}}/{{status.manual_full_score}}</span>
            {% endif %}
          </td>
        {% else %}
          <td class="text-center">-</td>
          <td class="text-center">-</td>
          <td class="text-center">-</td>
        {% endif %}
      </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
